@{
    ViewData["Title"] = "Home Page";
}

<h1>SignalR</h1>

<hr />

<div class="container">
    <div>
        <label>Your Name:</label>
        <input type="text" id="displayname" />
    </div>

    <div class="mt-5">
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="Send" />
    </div>

    <div class="mt-5">
        <ul id="discussion"></ul>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

    connection.start().catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("sendmessage").addEventListener("click", function (event) {
        var user = document.getElementById("displayname").value;
        var message = document.getElementById("message").value;

        connection.invoke("SendMessage", user, message).catch(function (err) {
            return console.error(err.toString());
        });

        event.preventDefault();
    });

    connection.on("ReceiveMessage", function (user, message) {
        var encodedMsg = user + ": " + message;
        var li = document.createElement("li");

        li.textContent = encodedMsg;
        document.getElementById("discussion").appendChild(li);
    });

</script>
